
smis/SchoolManagmentSystem/Program.cs
smis/SchoolManagmentSystem/Program.cs
smis/SchoolManagmentSystem/appsettings.json
/smis/SchoolManagmentSystem/appsettings.json
/smis/SchoolManagmentSystem/Program.cs
